<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiplomenProektNo7</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-lighter border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DanieleShoes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shoe" asp-action="Index">Shoes</a>
                        </li>
                        @{
                           bool isAuthorized = User.IsInRole("Client") || User.IsInRole("Administrator");
                             }

                            @if (isAuthorized)
                            {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">MyOrders</a>
                        </li>
                            }
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                            <li class="nav-item active">
                                <div class="dropdown show">
                                    <a class="nav-link active dropdown-toggle" href="e"
                                   id="dropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                        Statistics
                                    
                                        </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Client" asp-action="Index"><i class="fa fa-users"></i> Clients</a>
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Index"><i class="fa fa-shopping-cart"></i> Orders</a>
                                        <a class="dropdown-item" asp-controller="Statistics" asp-action="Index"><i class="fa fa-line-chart "></i> Statistics</a>
                                        <a class="dropdown-item" asp-controller="Contact" asp-action="Index"><i class="fa fa-envelope"></i> MessageList</a>
                                    </div>
                                </div>
                            </li>
                        }
                      
                    </ul>
                    <div class="container-fluid">
                        
                        <nav>                           
                            @if (isAuthorized)
                            {
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                    <form asp-controller="Shoe" asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2" type="search" name="SearchStringBrandName" placeholder="Search">
                                        
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:dodgerblue">Search</button>
                                    </form>

                                </div>
                            }
                        </nav>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DanieleShoes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @if (User.Identity.IsAuthenticated)
            {
                <text>- <a asp-area="" asp-controller="Contact" asp-action="ContactUs">ContactUs</a></text>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

