@{ 
    ViewData["Title"] = "SuccessDeleteUser";
        }
<h1>You successfulyl deleted a user!</h1>
<div><a asp-action="Index">Back to list</a></div>
<style>
    body {
        background: linear-gradient(to right, #f5a5b8, #c4d4e8);
    }
</style>